name: Build

on:
  pull_request:
  workflow_dispatch:

jobs:
  build-android:
    name: Build for Android
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install Ninja
      run: sudo apt-get install -y ninja-build
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - run: flutter pub get
    - name: Patch pdfrx
      run: |
        PDFRX_PATH=$(find $HOME/.pub-cache -type d -name "pdfrx-*" | head -n 1)
        CMAKE_FILE="$PDFRX_PATH/android/CMakeLists.txt"
        if [ -f "$CMAKE_FILE" ]; then
          sed -i '2i add_link_options("LINKER:--build-id=none")' "$CMAKE_FILE"
          echo "Patched CMakeLists.txt in $CMAKE_FILE"
        else
          echo "CMakeLists.txt not found in expected location"
          exit 1
        fi
    - run: dart run pdfrx:remove_wasm_modules
    - run: flutter build apk --debug
    - uses: actions/upload-artifact@v5
      with:
        name: release-apk
        path: build/app/outputs/apk/debug/app-debug.apk
  build-ios:
    name: Build for iOS
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v5
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        architecture: x64
    - run: flutter pub get
    - run: flutter build ios --release --no-codesign
