name: Signed builds

on:
  workflow_dispatch:

jobs:
  build-android:
    name: Build for Android
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Ninja
      run: sudo apt-get install -y ninja-build
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - run: flutter pub get
    - name: Decode Keystore
      run: |
       echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/keystore.jks
    - name: Create key.properties
      run: |
       echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" > android/key.properties
       echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
       echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
       echo "storeFile=keystore.jks" >> android/key.properties
    - name: Build APK
      run: flutter build apk --release
    - name: Build appBundle
      run: flutter build appbundle
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Releases
        path: |
         build/app/outputs/flutter-apk/app-release.apk
         build/app/outputs/bundle/release/app-release.aab
